* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header p {
  color: yellow;
  padding-left: 2rem;
  padding-bottom: 1rem;
}

h1 {
  font-family: Cairo, serif;
  font-size: 48px;
  color: yellow;
  padding: 1rem 2rem;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 2rem;
  align-items: flex-start;
}

nav a {
  font-family: Cairo, serif;
  font-size: 1.3rem;
  color: yellow;
  transition-duration: 0.4s;
  padding: 0.5rem;
  text-decoration: none;
}

nav a:hover {
  color: red;
  text-decoration: underline;
  font-size: 1.4rem;
}

.topH2 {
  padding-top: 3rem;
  font-family: Cairo, serif;
  font-size: 40px;
  color: yellow;
  padding: 1rem;
  text-align: center;
}
body {
  background-image: url("../components/ripper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  overflow: hidden;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.criteriaBox {
  border: 4px solid black;
  background-color: white;
  margin: 6px;
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.labelInputBox {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.survey {
  width: 50px;
  border: 2px solid black;
  padding: 0.3rem;
  text-align: center;
  font-size: 1rem;
  border-radius: 4px;
}

input:focus {
  background-color: yellow;
}

select {
  border: 2px solid black;
  padding: 0.3rem;
  font-size: 1rem;
  border-radius: 4px;
}

select:focus {
  background-color: yellow;
}

.hint {
  font-size: 0.7rem;
  text-align: right;
  font-style: italic;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
}

.submit {
  font-family: Cairo, serif;
  font-size: 40px;
  color: black;
  padding: 1rem;
  border-radius: 8px;
  width: 30vw;
  margin: 8px;
  background-color: yellow;
  transition-duration: 0.3s;
}

.submit:hover {
  background-color: black;
  color: red;
  cursor: pointer;
}

.result {
  border: 4px solid black;
  width: 48vw;
  margin-top: 0.4rem;
  max-height: 33.5rem;
  max-width: 40vw;
  display: flex;
  color: white;
  background-color: black;
}

.image {
  align-self: center;
  padding-left: 1rem;
}

.poster {
  border: 4px solid yellow;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem 1rem;
}

.title h2 {
  color: yellow;
}

.ratingLinkBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
}

.ratingBox {
  width: 5rem;
  height: 4rem;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 2rem;
  border-radius: 16px;
}

.addGiallo {
  width: 17vw;
  height: 10vh;
  font-size: 20px;
  align-self: center;
  font-family: Cairo, serif;
  color: black;
  padding: 1rem;
  border-radius: 8px;
  margin: 8px;
  background-color: yellow;
  transition-duration: 0.3s;
}

.addGiallo:hover {
  background-color: white;
}

.addGiallo::after {
  content: "ADD TO WATCHLIST";
}

.addGiallo:hover::after {
  content: "I DON'T WORK";
  color: red;
}

.allAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meH3 {
  background-color: yellow;
  color: black;
}

.aboutApp {
  border: 4px solid black;
  background-color: white;
  margin: 6px;
  width: 40vw;
  height: 30vh;
  display: flex;
  align-items: center;
}

.aboutApp p {
  margin: 0 1rem;
}

.login {
  font-family: Cairo, serif;
  font-size: 40px;
  color: black;
  padding: 1rem;
  border-radius: 8px;
  width: 30vw;
  margin: 8px;
  background-color: yellow;
  transition-duration: 0.3s;
}

.login:hover {
  background-color: black;
  color: red;
  cursor: pointer;
}

.loginContainer {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.adminBox {
  border: 4px black solid;
  background-color: white;
  width: 15rem;
  height: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gialliAdmin {
  border: 4px black solid;
  background-color: yellow;
  width: 40vw;
  display: flex;
  margin: 0.5rem;
}

.gialliVertical {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.inputTitle {
  width: 400px;
  border: 2px solid black;
  padding: 0.3rem;
  font-size: 1rem;
  border-radius: 4px;
}

.inputYear {
  width: 50px;
  border: 2px solid black;
  padding: 0.3rem;
  text-align: center;
  font-size: 1rem;
  border-radius: 4px;
  margin: 0.2rem;
}

.gialloDelete {
  width: 8vw;
  height: 10vh;
  font-size: 20px;
  align-self: center;
  font-family: Cairo, serif;
  color: white;
  border-radius: 8px;
  margin: 8px;
  background-color: red;
  transition-duration: 0.3s;
}

.gialloDelete:hover {
  color: yellow;
  background-color: black;
  cursor: pointer;
}

.updateAdd {
  color: black;
  background-color: white;
  font-family: Cairo, serif;
  font-size: 20px;
  height: 3rem;
  width: 5rem;
  border-radius: 8px;
  margin: 8px;
}

.updateAdd:hover {
  color: green;
  background-color: black;
  cursor: pointer;
}

.database {
  display: flex;
  flex-wrap: wrap;
}
